.navbar {
  bottom: 0;
  position: fixed;
  width: 100%;
  min-width: 360px;
  background: white;
  padding: 1rem 0;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
  z-index: 999;

  &__icon {
    color: $color-disabled;
  }

  &__item {
    width: 80px;
    list-style: none;

    & button {
      border: 0;
      background-color: transparent;
      cursor: pointer;
    }

    & a {
      display: flex;
      gap: 0.25rem;
      color: $color-disabled;
    }

    &.active a,
    &.active .navbar__icon {
      font-weight: 700;
      color: $color-primary;
    }
  }

  &__main-icon-wrapper {
    background: $color-primary;
    color: $color-light;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: -4rem;

    &:active {
      background-color: $color-primary-light;
    }

    & .navbar__icon {
      width: 2rem;
      height: 2rem;
      color: white;
    }
  }
}
