.notifications {
  &__header {
    padding: 2rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
  }

  &__item {
    padding: 1rem;
    cursor: pointer;

    &.untouched {
      background-color: $color-secondary;
    }
  }

  &__image {
    position: relative;
    background: $color-gradient;
    width: 75px;
    height: 75px;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
  }

  &__status {
    position: absolute;
    bottom: -0.5rem;
    right: -0.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0.25rem;

    &-icon {
      width: 1rem;
      height: 1rem;
    }

    &.success {
      background-color: $color-success;
    }

    &.failed {
      background-color: $color-danger;
    }

    &.processed {
      background-color: $color-info;
    }
  }
}
